// Place all the styles related to the Gists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin: 20px;
}

.button {
  padding: 0 20px;
}

body, html {
  height: 100%;
}

th {
  text-align: left;
}

#sidebar {
  padding: 0 2%;
  float:left;
  margin:2%;
  width:26%;
  min-height: 60%;
  background-color: #81D5B6;
}

#content {
  float:right;
  margin:2%;
  width:66%;
}